* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
}


html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}
.navbar{
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 130;
  background-color: rgb(27, 27, 27, 0.8);
  backdrop-filter: blur(2px);
}

.layer{ 
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  background-color: rgb(27, 27, 27, 0.4);
}

.main{
  z-index: 29;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1920px;
}
.wrapper2 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1920px;
}
.wrapper3 {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1920px;
}

.mt{
  margin-top: 10px;
}

